.nav-height{
    height: 50px;
}

.thumbnail-title{
    background-color: #f5f5f5;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
}

.container-title{
    height: 95px;
    margin-bottom: 20px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
}
.container-title-content{
    margin-top: -5px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fafbfc;
    border-color: #e1e4e8;
}

