<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Zookeeper Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Reset -->
    <link href="../lib/flatlab-admin/css/style.css" rel="stylesheet"/>
    <!-- Your custom styles (optional) -->
    <link href="../lib/flatlab-admin/css/bootstrap-reset.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../lib/jsTree/themes/default/style.css"/>
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="../lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>
    <link href="../lib/codemirror/codemirror.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>
<!--header start-->
<header class="header">
    <div class="between">
        <!--logo start-->
        <a href="#" class="logo">Zookeeper Manager</a>
        <!--logo end-->
        <div class="between margin-13">
            <span class="new-address">New Address</span>
            <div class="">
                <select class="selectpicker" data-live-search="true" title="Choose one of the address">
                </select>
            </div>
        </div>
    </div>
</header>
<!--header end-->

<section class="wrapper">
    <div class="row">
        <div class="col-4 col-lg-4 col-sm-4">
            <section class="panel">
                <div class="panel-body">
                    <!--<h4>Zookeeper Nodes</h4>-->
                    <h4 id="current-address"></h4>
                    <div class="form-group">
                        <input type="input" class="form-control" id="search-node" placeholder="search...">
                    </div>
                    <div id="myTree"></div>
                </div>
            </section>

        </div>
        <div class="col-8 col-lg-8 col-sm-8">
            <section class="panel">
                <div class="panel-body">
                    <div class="path-container">Current Path:&nbsp;&nbsp;
                        <span class="current-path" id="current-path"></span>

                    </div>
                    <div class="margin-bottom">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="load-file"
                                   aria-describedby="load-file">
                            <label class="custom-file-label" for="load-file">Choose file</label>
                        </div>
                    </div>
                    <div class="margin-bottom">
                        <pre class="detail" id="node-detail"></pre>
                    </div>
                    <div class="margin-bottom">
                        <textarea class="form-control data" cols="60" rows="6" id="node-data"></textarea>
                    </div>
                    <div class="margin-bottom">
                        <div class="col-lg-6 path-input-container">
                            <input type="text" class="form-control" id="input-path"/>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary " id="save-node"><i class="icon-repeat"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-info " id="download-node"><i
                                    class="icon-file-text"></i> Download
                            </button>
                            <button type="button" class="btn btn-danger" id="delete-node"><i class="icon-trash"></i>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Enter Zookeeper Address
                </h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="address-input" placeholder="127.0.0.1:2181"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="../lib/jquery/jquery-3.3.1.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../lib/bootstrap-3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/layer/layer.js"></script>
<script type="text/javascript" src="../lib/jsTree/jstree.js"></script>
<script type="text/javascript" src="../lib/bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="../lib/codemirror/codemirror.js"></script>
<script type="text/javascript" src="../lib/codemirror/xml.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</body>

</html>
